
.modal-content-container {
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    padding-top:5% ;
}


.lightbox {
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.89);
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.lightbox img {
    max-width: auto; /* Adjust the maximum width */
    max-height: 80vh; /* Adjust the maximum height */
    margin:auto; /* Center the image vertically and horizontally */
    display: block;
}


